<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Users</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body class="bg-emerald-200 ">
    <div class="flex" id="wrapper">
      <!-- Sidebar -->
      <div id="sidebar" class="bg-gray-800 text-white sidebar pt-16">
          <ul class="text-lg text-white text-center flex flex-col space-y-4">
            <li class="">
              <a href="/cookies" class=" hover:bg-gray-800 hover:bg-opacity-50">HOME</a>
            </li>
            <li class="">
              <a href="/cookies/new" class=" hover:bg-gray-800 hover:bg-opacity-50">NEW ORDER</a>
            </li>
            <li class="">
              <a href="/order/1" class=" hover:bg-gray-800 hover:bg-opacity-50">CHANGE ORDER</a>
            </li>
          </ul>
      </div>

    <!-- Button to hide sidebar -->
    <div id="mainContent" class="w-full  main-content">
      <!-- Button to toggle sidebar visibility -->
      <button id="toggleButton" class=" absolute  left-0 top-0">
        <div class="w-10 h-10 p-1 space-y-1.5 rounded-full bg-emerald-200 flex flex-col justify-center  hover:bg-yellow-800 ">
          <div class="flex justify-evenly w-full animate-pulse">
            <span class="block w-1 h-1 bg-black group-hover:bg-red-500"></span>
            <span class="block w-1 h-1 bg-black group-hover:bg-red-500"></span>
          </div>

          <div class="flex justify-evenly w-full animate-pulse">
            <span class="block w-1 h-1 bg-black "></span>
            <span class="block w-1 h-1 bg-black"></span>
            <span class="block w-1 h-1 bg-black"></span>
          </div>
          <div class="flex justify-evenly w-full animate-pulse">
            <span class="block w-1 h-1 bg-black"></span>
            <span class="block w-1 h-1 bg-black"></span>
          </div>
        </div>
      </button>

      <!-- Main Content -->
      <div id="main_content" class="w-2/3 mt-20 flex flex-col mx-auto text-yellow-800" >
        <h2 class="text-4xl text-bold text-black mb-8">Log a New Order</h2>
        {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
            {% if messages %}                            <!-- check if there are any messages -->
                {% for message in messages %}            <!-- loop through the messages -->
                    <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form action="/cookies/new/order" method="post" class="border-2 border-black flex flex-col items-center space-y-4 p-6 pt-16 w-1/2 text-lg text-semibold overflow-hidden bg-cover bg-no-repeat" style="background-image: url('{{ url_for('static', filename='images/cookie_grid.jpg') }}'); height: 300px">
            <div>
                <label for="name" class="text-white">Name:</label>
                <input type="text" name="name" id="name" placeholder="Kevin Malone" class="pl-1">
            </div>
            <div>
                <label for="cookie" class="text-white">Cookie Type:</label>
                <select name="cookie_type" id="cookie">
                    <option value="Thin Mints">Thin Mints</option>
                    <option value="Girl Scout S'mores">Girl Scout S'mores</option>
                    <option value="Samoas">Samoas</option>
                    <option value="Tagalongs ">Tagalongs</option>
                    <option value="Do-si-dos">Do-si-dos</option>
                </select>
            </div>
            <div>
                <label for="box_num" class="text-white">Number of Boxes:</label>
                <input type="number" name="num_of_boxes" id="box_num" value="100" class="pl-1">
            </div>
            <button type="submit" class=" bg-emerald-500 border border-black px-4 py-2 transition duration-50 font-semibold hover:bg-emerald-300 text-white text-xl cursor-pointer mt-8 w-2/5">Order</button>
        </form>
      </div>
    </div>
  </div>

</body>
</html>

<!-- Format for adding images -->
<!-- <img src="{{ url_for('static', filename='images/img.png') }}"> -->